.ordem-compra{
    margin-top: 50px;
    margin-bottom: 150px;
}
input.ng-invalid.ng-touched{
    border: 1px solid red;
}
select.ng-invalid.ng-touched{
    border: 1px solid red;
}
input.ng-valid.ng-touched{
    border: 1px solid rgb(4, 238, 4);
}
select.ng-valid.ng-touched{
    border: 1px solid rgb(4, 238, 4);
}